@oxappsec:registry=https://us-npm.pkg.dev/oxappsec/testpipline/
//us-npm.pkg.dev/oxappsec/oxappsecnpm/:_password=Tjd514,iBENSkjaOoa#Q5jSb1Rpo%OfcpQdoZG5hAeWigA;!u?rgEJ_,NubQkz5eFCTKV!wQBXXUHB:woEdyLWEF2nX5RR1KkxGoCEmMtbH2L$mzjVJIN0Xqrz:L0@zAfSlA.qkUxCuBIv7lezG8Zox!kaDO9Xc!xGeYgVeQVBPbwL0Kb5%!Q@HBSZc_1V2j9bafYhQi#9BSO#E$l32k8m*Pj#youVnwMq_3tbjtsAMS0fcFIbvZW%TxoCKusmbL
//us-npm.pkg.dev/oxappsec/oxappsecnpm/:username=_json_key_base64
//us-npm.pkg.dev/oxappsec/oxappsecnpm/:email=foo.bar@email.com
//us-npm.pkg.dev/oxappsec/oxappsecnpm/:always-auth=true
